<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993442197693-nhtq072tbrc49k8agd3vp3546k75g39m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993442197693-nhtq072tbrc49k8agd3vp3546k75g39m</string>
	<key>API_KEY</key>
	<string>AIzaSyBO5jpb9R61kMlc6o99LNH_LyJrN67vchM</string>
	<key>GCM_SENDER_ID</key>
	<string>993442197693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taxiApp</string>
	<key>PROJECT_ID</key>
	<string>taxiapp-917c9</string>
	<key>STORAGE_BUCKET</key>
	<string>taxiapp-917c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993442197693:ios:e3bf05cb4ac31b70</string>
	<key>DATABASE_URL</key>
	<string>https://taxiapp-917c9.firebaseio.com</string>
</dict>
</plist>